@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Kablammo&display=swap');

html, body {
    background-color: hotpink;
    cursor: url("https://i.postimg.cc/N0GMCKzx/IMG-5506.png"), pointer;
}

h1 {
    font-family: kablammo, system-ui;
    font-size: 100px;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: Delius Swash Caps, cursive;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#items {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 50px;
}

#cookie-img {
    width: 200px;
}

#cookie-jar-img {
    width: 200px;
    background-color: pink;
    border-radius: 35px;
    float: left;
}

#display {
    color: red;  
    font-family: Delius Swash Caps, cursive;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    padding: 12px;
}

#hiddenItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#resetBTN {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#resetButton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 75px
    
}

#resetimg {
    width: 200px;
    height: 100px;
}

button {
    background-color: hotpink;
    border-radius: 35px;
    border: 1px solid pink;

}
button:hover{
    background-color: pink;
    cursor: url("https://i.postimg.cc/C55xh9gn/IMG-5503.png"), pointer;
}

p {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: kablammo, system-ui;
}

